:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

* {
  font-family: 'Overpass', sans-serif;
  font-size: 0.9375rem;
}

/* remove default styles */
fieldset {
  border: 0;
  padding: 0;
}

input[type="radio"] {
  appearance: none;
}

input::before {
  display: none;
}

body {
  background-color: var(--Very-Dark-Blue);
  color: var(--White);

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--Dark-Blue);
  border-radius: 1rem;
  max-width: 22rem;
  padding: 1.5rem;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.rating img {
  background-color: hsl(208, 15%, 23%);
  padding: 1rem;
  border-radius: 50%;
  transform: scale(0.8);
  align-self: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  /* between fieldset & button */
  gap: 0.5rem;
}

fieldset {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.5rem;
}

p {
  color: var(--Medium-Grey);
}

.rating p {
  margin-block-start: .8rem;
  margin-block-end: -.8rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

label {
  display: block; 
  width: 3rem;
  height: 3rem;
  line-height: 3.3;
  padding-inline-start: 1.2rem;
  border-radius: 50%;
  background-color: hsl(208, 15%, 23%);
}

label:hover {
  background-color: var(--Orange);
  cursor: pointer;
}

input:checked + label{
  background-color: var(--Light-Grey);
}

input:focus + label {
  outline: 5px dashed var(--White);
}

button {
  background-color: var(--Orange);
  color: var(--White);
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: 0;
  border-radius: 2rem;
  padding-block: .8rem;
  margin-block-end: .5rem;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: var(--White);
  color: var(--Orange);
}

button:focus {
  outline: 5px dashed white;
}

/* to add specificity so that .thank-you below won't replace this*/
article.inactive {
  display: none;
}

.thank-you {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.thank-you img {
  align-self: center;
  margin-block-start: .5rem;
  transform: scale(.9);
}

div {
  color: var(--Orange);
  background-color: hsl(208, 15%, 23%);
  padding: .2rem 1rem;
  border-radius: 2rem;
}

.thank-you p {
  margin-block-start: -1rem;
  margin-block-end: 1.5rem;
}


@media (min-width: 50rem) {
  * {
    font-size: 1rem;
  }
  
  main {
    max-width: 27rem;
    padding: 2.2rem;
  }

  .thank-you {
    gap: 2rem;
  }

  .thank-you img {
    transform: scale(1);
    margin-block-start: .7rem;
  }

  .thank-you h2 {
    font-size: 2rem;
  }

  .thank-you p {
    margin-block-start: -1.5rem;
    margin-block-end: 1rem;
  }

  div {
    padding: .3rem 1rem;
  }

  .rating {
    gap: 1.8rem;
  }

  .rating img {
    transform: scale(1);
  }

  .rating h2 {
    font-size: 1.8rem;
  }

  .rating p {
    margin-block-start: .6rem;
    margin-block-end: -.3rem;
  }

  button {
    margin-block-start: 1.2rem;
    margin-block-end: 0;
  }
}
